{deps,
 [

  {elli, ".*",
   {git, "git://github.com/knutin/elli.git",
    {tag, "v0.4"}}},

  {lager, "2.0.*",
   {git, "git://github.com/basho/lager.git",
    {tag, "2.0.0"}}},

  {jiffy, "",
   {git, "git://github.com/davisp/jiffy.git",
    {branch, "master"}}},

  {wes, ".*",
   {git, "git://github.com/wooga/wes.git",
    {branch, "master"}}},

  %% Debugging, erlang shell helpers.
  {userd, ".*",
   {git,"git://github.com/anha0825/erl_default.git",
    "1ce813b4471f85b294472c1e6c091c47422b2502"}},
  {eper, ".*",
   {git,"git://github.com/massemanet/eper.git",
    "9c55d1653de26dc7492aeae986fb4a81d6c84fd9"}}

 ]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used, deprecated_function_calls
               %% exports_not_used FIXME: We should use this later
              ]}.
{xref_lib_path, app_file}.
%% {xref_ignore_modules, [g10_wire_protocol_capnp]}.

%% can't be a deps and only for testing.
{xref_extra_applications, [erts, eunit]}.

%% Eunit
{eunit_opts, [verbose]}.
