[
 {wes,
  [{actors,
    [
     [{id, counter},
      {locker_mod, wes_lock_ets},
      {locker_conf, []},
      {cb_mod, wes_example_count},
      {db_mod, wes_db_ets},
      {db_conf, []}]
    ]},
   {channels,
    [
     [{id, bank_session},
      {locker_mod, wes_lock_ets},
      {lock_timeout_interval, 1000},
      {locker_conf, []},
      {message_timeout, 50000},
      {stats_mod, wes_stats_ets}]
     ]}
  ]},

 {lager,
  [{crash_log, "logs/crash.log"},
   {handlers,
    [{lager_console_backend, info},
     {lager_file_backend,
      [{file, "logs/debug.log"},
       {level, debug},
       {size, 104857600},
       {date, "$D0"},
       {count, 5}]}]}]}

].
